

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  padding-top: 20px;
  text-align: center;
}

div.extra.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form {
  padding: 2em;
  margin: 0 auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-content: center;
}

#groupform {
  padding: 0;
  margin: 0;
}

.input {
  margin: .5em;
  font-family: 'Crimson Text', serif;
}

.label {
  font-family: 'Luckiest Guy';
  font-size: 25px;
  padding-top: 20px;
}

#groupheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

label.label {
  font-family: 'Quattrocento';
  font-size: 25px;
  padding-top: 20px;
}

div.ui.segment {
  background-color: #eae0d5;
}

div.ui.modal>.header:not(.ui) {
  font-family: 'Permanent Marker';
  font-size: 4em;
}

#welcomeText {
  font-size: 2em;
  text-align: center;
}

#toggle {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.ui.card>.content, .ui.cards>.card>.content {
  font-family: 'Permanent Marker';
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  width: auto;
  height: 400px;
  margin: auto;
  background-position: center;
  background-size: contain;
}
