body {
  margin: 0 20% 0 20%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  padding-top: 20px;
  text-align: center;
}

div.extra.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 300px;
  width: auto;
  margin: auto;
  background-position: center;
  background-size: contain;
}

.form {
  padding: 2em;
  margin: 0 auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-content: center;
}

.input {
  margin: .5em;
  font-family: 'Crimson Text', serif;
}

.label {
  font-family: 'Luckiest Guy';
  font-size: 25px;
  padding-top: 20px;
}

